@use 'sass:math';

@use '~@/styles/variables' as *;
@use '~@/styles/mixins/base' as *;

// Tooltip box -----------------------------------------------------------------
$lume-tooltip-color: $lume-color-grey-90 !default;
$lume-tooltip-background-color: $lume-color-white !default;
$lume-tooltip-border-radius: $lume-border-radius-8 !default;
$lume-tooltip-box-shadow: $lume-box-shadow !default;
$lume-tooltip-max-width: 288px !default;

$lume-tooltip-content-padding: $lume-spacing-10 !default;
$lume-tooltip-z-index: 500 !default;

$lume-tooltip-item-line-height: $lume-spacing-16 !default;
$lume-tooltip-item-min-width: 112px !default;
$lume-tooltip-symbol-size: $lume-spacing-10 !default;

.lume-tooltip {
  @include base;

  position: absolute;
  max-width: $lume-tooltip-max-width;
  padding: $lume-tooltip-content-padding;

  font-size: $lume-text-font-size-small;
  color: $lume-tooltip-color;

  background: $lume-tooltip-background-color;
  border: $lume-border;
  border-radius: $lume-tooltip-border-radius;
  box-shadow: $lume-tooltip-box-shadow;
  z-index: $lume-tooltip-z-index;
  pointer-events: none; /* prevent jitter when tooltip gets in the way of the cursor during transitions */

  &--animated {
    transition: transform $lume-transition-time-long ease-out;
  }

  &__title {
    margin-bottom: $lume-spacing-8;
    font-weight: $lume-text-font-weight-bold;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    min-width: $lume-tooltip-item-min-width;
    margin-bottom: $lume-spacing-4;
  }

  &__symbol {
    margin-top: math.div(
      $lume-tooltip-item-line-height - $lume-tooltip-symbol-size,
      2
    ); // default: 3px
    margin-right: $lume-spacing-8;
    width: $lume-tooltip-symbol-size;
    height: $lume-tooltip-symbol-size;
    flex-shrink: 0;

    &--line {
      border-radius: 50%;
    }
  }

  &__value {
    margin-left: auto;
    padding-left: $lume-spacing-8;
    flex-shrink: 0;
  }
}
