@use '~@/styles/variables' as *;

.bar {
  $b: &;

  &--faded {
    opacity: 0.5; // Temporary while we wait for official data-viz colors
  }

  &--transition-width {
    transition: width $adv-transition-time-long ease,
      opacity $adv-transition-time-long ease;

    &#{$b}--negative {
      transform: rotate(180deg);
    }
  }

  &--transition-height {
    transition: height $adv-transition-time-long ease,
      opacity $adv-transition-time-long ease;

    &:not(#{$b}--negative) {
      transform: rotate(180deg);
    }
  }
}
