@use '~@/styles/variables' as *;

.bar {
  &--faded {
    opacity: 0.5; // Temporary while we wait for official data-viz colors
  }

  &--transition-width {
    transition: width $adv-transition-time-long ease,
      opacity $adv-transition-time-long ease;
  }

  &--transition-height {
    transform: rotate(180deg);

    transition: height $adv-transition-time-long ease,
      opacity $adv-transition-time-long ease;
  }
}
