@use '~@/styles/variables' as *;
@use 'popover.variables' as *;

// Internal use
@mixin adv-popover-arrow-base {
    background-color: $adv-popover-arrow-color;
    border: $adv-popover-arrow-border-style;
    content: '';
    display: block;
    height: $adv-popover-arrow-vertex-size;
    position: absolute;
    transform: rotate(45deg);
    width: $adv-popover-arrow-vertex-size;
}

// External use
@mixin adv-popover--arrow-bottom {
    &::after {
        @include adv-popover-arrow-base;

        border-left-color: $adv-popover-arrow-border-color-hidden;
        border-top-color: $adv-popover-arrow-border-color-hidden;
        bottom: $adv-popover-arrow-position-offset;
        left: 50%;
        margin-left: $adv-popover-arrow-margin-offset;
    }
}

@mixin adv-popover--arrow-top {
    &::after {
        @include adv-popover-arrow-base;

        border-bottom-color: $adv-popover-arrow-border-color-hidden;
        border-right-color: $adv-popover-arrow-border-color-hidden;
        left: 50%;
        margin-left: $adv-popover-arrow-margin-offset;
        top: $adv-popover-arrow-position-offset;
    }
}

@mixin adv-popover--arrow-right {
    &::after {
        @include adv-popover-arrow-base;

        border-bottom-color: $adv-popover-arrow-border-color-hidden;
        border-left-color: $adv-popover-arrow-border-color-hidden;
        margin-top: $adv-popover-arrow-margin-offset;
        right: $adv-popover-arrow-position-offset;
        top: 50%;
    }
}

@mixin adv-popover--arrow-left {
    &::after {
        @include adv-popover-arrow-base;

        border-right-color: $adv-popover-arrow-border-color-hidden;
        border-top-color: $adv-popover-arrow-border-color-hidden;
        left: $adv-popover-arrow-position-offset;
        margin-top: $adv-popover-arrow-margin-offset;
        top: 50%;
    }
}

@mixin adv-popover {
    //@include adv-component-base;

    background: $adv-popover-background-color;
    border: $adv-popover-border-style;
    border-radius: $adv-popover-border-radius;
    box-shadow: $adv-popover-box-shadow;
    max-width: $adv-popover-max-width;
    padding: $adv-popover-content-padding;
    position: absolute;
    z-index: $adv-z-over-everything;
}
