@use 'sass:math';

@import '../../variables';

// Popover box -----------------------------------------------------------------
$adv-popover-background-color: $adv-color-white !default;
$adv-popover-border-radius: $adv-border-radius-4 !default;
$adv-popover-box-shadow: $adv-box-shadow !default;
$adv-popover-max-width: 250px !default;
$adv-popover-border-width: $adv-border-width !default;
$adv-popover-border-style: $adv-popover-border-width $adv-border-style $adv-border-color !default;
$adv-popover-content-padding: $adv-spacing-16 !default;

// Arrow -----------------------------------------------------------------------
$adv-popover-arrow-color: $adv-popover-background-color !default;
$adv-popover-arrow-vertex-size: $adv-spacing-16 !default;
$adv-popover-arrow-border-width: $adv-popover-border-width !default;
$adv-popover-arrow-border-color-hidden: transparent !default;
$adv-popover-arrow-border-style: $adv-popover-arrow-border-width $adv-border-style $adv-border-color !default;

// sqrt(2) == 1.4142135624
$adv-popover-arrow-base-size: (1.4142135624 * $adv-popover-arrow-vertex-size) !default;
$adv-popover-arrow-length: $adv-popover-arrow-base-size / 2 !default;

// The arrow square receives a 45deg rotation relative to its center, so there's a small offset due to
// this rotation (the square corners overflow a bit) and it needs to be calculated to properly position it.
$adv-popover-arrow-rotation-offset: ($adv-popover-arrow-base-size - $adv-popover-arrow-vertex-size) / 2 !default;

// Arrow is centered along the popover side using top/right/bottom/left 50% and correcting with a negative margin.
// This margin should be half of base size and corrected with the rotation offset.
$adv-popover-arrow-margin-offset: round($adv-popover-arrow-rotation-offset - $adv-popover-arrow-base-size / 2) !default;

// Arrow is positioned in the popover side using top/right/bottom/left 0 and pushed outside by subtracting its length.
// Again this must take in consideration the rotation offset
$adv-popover-arrow-position-offset: round($adv-popover-arrow-rotation-offset - $adv-popover-arrow-length) !default;
