@use '~@/styles/variables' as *;
@use '~@/styles/mixins/base' as *;

.adv-alluvial-group {
  @include base;

  &__node {
    opacity: 1;
    transition: opacity $adv-transition-time-long;

    &--faded {
      opacity: 0.5;
    }
  }

  &__node-block {
    @each $color, $map in $adv-categorical-colors {
      &--#{$color} {
        $fill: nth($map, 1);
        fill: $fill;

        & + .adv-alluvial-group__node-text--color {
          fill: $fill;
        }
      }
    }
  }

  &__node-text {
    &--right {
      text-anchor: end;
    }
  }

  &__node-title {
    font-size: $adv-text-font-size-small;
  }

  &__node-value {
    font-size: $adv-text-font-size-small;
    font-weight: $adv-text-font-weight-semi-bold;
  }
}
