@use '~@/styles/_variables.scss' as *;

.adv-alluvial-group {
  &__node {
    opacity: 1;
    transition: opacity $adv-transition-time-long;

    &--faded {
      opacity: 0.5;
    }
  }

  &__node-block {
    @each $color, $map in $chart-colors {
      &--#{$color} {
        $fill: nth($map, 1);
        fill: $fill;

        & + .adv-alluvial-group__node-text--color {
          fill: $fill;
        }
      }
    }
  }

  &__node-text {

    &--right {
      text-anchor: end;
    }
  }

  &__node-title {
    @include adv-typography-caption();
  }

  &__node-value {
    @include adv-typography-caption();
    font-weight: $adv-font-weight-medium;
  }
}
