@use 'sass:color';
@use '../variables' as *;

.adv-background-color {
  @each $name, $map in $adv-colors {
    &--#{$name} {
      background-color: nth($map, 1);
    }
  }

  // To remove
  @each $color, $map in $adv-legacy-colors {
    &--#{$color} {
      background-color: nth($map, 1);
    }
  }
}

.adv-stroke-color {
  @each $name, $map in $adv-colors {
    &--#{$name} {
      stroke: nth($map, 1);
    }
  }

  // To remove
  @each $color, $map in $adv-legacy-colors {
    &--#{$color} {
      stroke: nth($map, 1);
    }
  }

  &--transparent {
    stroke: $adv-color-grey-transparent;
    opacity: 0;
  }
}

.adv-fill-color {
  $b: &;

  @each $name, $map in $adv-colors {
    &--#{$name} {
      fill: nth($map, 1);

      &#{$b}--faded {
        fill: nth($map, 2);
      }
    }
  }

  // To remove
  @each $color, $map in $adv-legacy-colors {
    &--#{$color} {
      fill: nth($map, 1);

      &#{$b}--faded {
        fill: color.change(nth($map, 1), $alpha: 0.5);
      }
    }
  }

  &--overlay {
    fill: $adv-color-grey-transparent;
  }

  &--negative {
    fill: $adv-color-grey-10;
  }

  &--none {
    fill: none;
  }

  &--transparent {
    fill: $adv-color-grey-transparent;
    opacity: 0;
  }
}
