@use '../variables' as *;

.lume-background-color {
  @each $color, $map in $chart-colors {
    &--#{$color} {
      background-color: nth($map, 1);
    }
  }
}

.lume-stroke-color {
  @each $color, $map in $chart-colors {
    &--#{$color} {
      stroke: nth($map, 1);
    }
  }

  &--transparent {
    stroke: $lume-color-grey-transparent;
    opacity: 0;
  }
}

.lume-fill-color {
  @each $color, $map in $chart-colors {
    &--#{$color} {
      fill: nth($map, 1);
    }
  }

  &--overlay {
    fill: $lume-color-grey-transparent;
  }

  &--negative {
    fill: $lume-color-grey-10;
  }

  &--none {
    fill: none;
  }

  &--transparent {
    fill: $lume-color-grey-transparent;
    opacity: 0;
  }
}
