@import 'variables';

$chart-colors: (
        '01': ($adv-color-data-viz-yellow, $adv-color-data-viz-yellow-darker, $adv-color-orange-10),
        '02': ($adv-color-data-viz-green, $adv-color-data-viz-green-darker, $adv-color-green-10),
        '03': ($adv-color-data-viz-turquoise, $adv-color-data-viz-turquoise-darker, $adv-color-teal-10),
        '04': ($adv-color-data-viz-blue, $adv-color-data-viz-blue-darker, $adv-color-blue-10),
        '05': ($adv-color-data-viz-navy, $adv-color-data-viz-navy-darker, $adv-color-blue-20),
        '06': ($adv-color-data-viz-grey, $adv-color-data-viz-grey-darker, $adv-color-grey-10),
        '07': ($adv-color-data-viz-orange, $adv-color-data-viz-orange-darker, $adv-color-orange-10),
        '08': ($adv-color-teal-40, $adv-color-teal-70, $adv-color-teal-10),
        '09': ($adv-color-red-40, $adv-color-red-20, $adv-color-red-20)
);

$chart-background-color: $adv-color-white;

$chart-data-color: $adv-color-data-viz-turquoise;
$chart-data-selected-color: $adv-color-data-viz-turquoise-darker;

$chart-overlay-color: transparent;
$chart-overlay-hover-color: rgba($adv-color-grey-70, .1);

$chart-axis-color: $adv-color-grey-20;
$chart-axis-zero-level-color: $adv-color-grey-30;
$chart-axis-labels-color: $adv-color-quiet;
$chart-axis-labels-color-selected: $adv-color-black;
$chart-axis-labels-font-size: $adv-text-font-size-small;
$chart-legend-font-size: $adv-text-font-size-small;
$chart-legend-font-weight-highlight: $adv-text-font-weight-semi-bold;

$chart-transition-time: 0.5s;
