@use '~@/styles/variables' as *;

@mixin title-base {
  margin: 0;
  font-family: $adv-font-family;
}

.adv-chart-title {
  @include title-base;

  margin-bottom: 1rem;

  font-size: $adv-text-font-size-big;
  font-weight: $adv-text-font-weight-medium;
  line-height: 2rem;
}

.adv-axis-title {
  @include title-base;

  font-size: $adv-text-font-size-medium;
  font-weight: $adv-text-font-weight-normal;
  line-height: 1rem;
  color: $adv-color-grey-50;
}
