@use 'variables' as *;
@use 'mixins/base' as *;

@mixin title-base {
  @include base;

  margin: 0;
}

.lume-chart-title {
  @include title-base;

  margin-bottom: 1rem;

  font-size: $lume-text-font-size-big;
  font-weight: $lume-text-font-weight-medium;
  line-height: 2rem;
}

.lume-axis-title {
  @include title-base;

  font-size: $lume-text-font-size-medium;
  font-weight: $lume-text-font-weight-normal;
  line-height: 1rem;
  color: $lume-color-grey-50;
}
