@forward './variables/colors';
@forward './variables/spacing';
@forward './variables/typography';

@use './variables/colors' as *;
@use './variables/spacing' as *;
@use './variables/typography' as *;

// Border

$adv-border-width: 1px !default;
$adv-border-style: solid !default;
$adv-border-color: $adv-color-grey-20 !default;
$adv-border-radius-4: 4px !default;
$adv-border-radius-8: 8px !default;
$adv-border: $adv-border-width $adv-border-style $adv-border-color !default;

// Box-shadow

$adv-box-shadow: 0 $adv-spacing-8 $adv-spacing-16 rgba($adv-color-black, 0.1) !default;

// Transition

$adv-transition-time-short: 0.1s !default;
$adv-transition-time-long: 0.3s !default;
$adv-transition-time-full: 1s !default;

:export {
  transitionTimeFull: $adv-transition-time-full;
}
