// Data viz colors

$adl-color-data-viz-yellow: #ffda00 !default;
$adl-color-data-viz-yellow-darker: #cbb009 !default;
$adl-color-data-viz-green: #99e487 !default;
$adl-color-data-viz-green-darker: #79b874 !default;
$adl-color-data-viz-turquoise: #04c9ca !default;
$adl-color-data-viz-turquoise-darker: #03a3a9 !default;
$adl-color-data-viz-blue: #025f89 !default;
$adl-color-data-viz-blue-darker: #014e76 !default;
$adl-color-data-viz-navy: #00112c !default;
$adl-color-data-viz-navy-darker: #00112c !default;
$adl-color-data-viz-grey: #90a2bd !default;
$adl-color-data-viz-grey-darker: #183057 !default;
$adl-color-data-viz-orange: #ff9501 !default;
$adl-color-data-viz-orange-darker: #b36900 !default;

$chart-colors: (
    '01': ($adl-color-data-viz-yellow, $adl-color-data-viz-yellow-darker),
    '02': ($adl-color-data-viz-green, $adl-color-data-viz-green-darker),
    '03': ($adl-color-data-viz-turquoise, $adl-color-data-viz-turquoise-darker),
    '04': ($adl-color-data-viz-blue, $adl-color-data-viz-blue-darker),
    '05': ($adl-color-data-viz-navy, $adl-color-data-viz-navy-darker),
    '06': ($adl-color-data-viz-grey, $adl-color-data-viz-grey-darker),
    '07': ($adl-color-data-viz-orange, $adl-color-data-viz-orange-darker),
    // '08': ($adl-color-teal-40, $adl-color-teal-70),
    // '09': ($adl-color-red-40, $adl-color-red-20)
);

$chart-background-color: #ffffff;
$chart-transition-time: 0.5s;