@use 'sass:math';

@use '~@/styles/variables' as *;
@use '~@/styles/mixins/base' as *;

// Tooltip box -----------------------------------------------------------------
$adv-tooltip-color: $adv-color-grey-90 !default;
$adv-tooltip-background-color: $adv-color-white !default;
$adv-tooltip-border-radius: $adv-border-radius-8 !default;
$adv-tooltip-box-shadow: $adv-box-shadow !default;
$adv-tooltip-max-width: 288px !default;

$adv-tooltip-content-padding: $adv-spacing-10 !default;
$adv-tooltip-z-index: 500 !default;

$adv-tooltip-item-line-height: $adv-spacing-16 !default;
$adv-tooltip-item-min-width: 112px !default;
$adv-tooltip-symbol-size: $adv-spacing-10 !default;

.adv-tooltip {
  @include base;

  position: absolute;
  max-width: $adv-tooltip-max-width;
  padding: $adv-tooltip-content-padding;

  font-size: $adv-text-font-size-small;
  color: $adv-tooltip-color;

  background: $adv-tooltip-background-color;
  border: $adv-border;
  border-radius: $adv-tooltip-border-radius;
  box-shadow: $adv-tooltip-box-shadow;
  z-index: $adv-tooltip-z-index;
  pointer-events: none; /* prevent jitter when tooltip gets in the way of the cursor during transitions */

  &--animated {
    transition: transform $adv-transition-time-long ease-out;
  }

  &__title {
    margin-bottom: $adv-spacing-8;
    font-weight: $adv-text-font-weight-bold;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    min-width: $adv-tooltip-item-min-width;
    margin-bottom: $adv-spacing-4;
  }

  &__symbol {
    margin-top: math.div(
      $adv-tooltip-item-line-height - $adv-tooltip-symbol-size,
      2
    ); // default: 3px
    margin-right: $adv-spacing-8;
    width: $adv-tooltip-symbol-size;
    height: $adv-tooltip-symbol-size;
    flex-shrink: 0;

    &--line {
      border-radius: 50%;
    }
  }

  &__value {
    margin-left: auto;
    padding-left: $adv-spacing-8;
    flex-shrink: 0;
  }
}
