@use 'sass:math';

@use "~@/styles/variables" as *;

// Tooltip box -----------------------------------------------------------------
$adv-tooltip-color: $adv-color-grey-70 !default;
$adv-tooltip-background-color: $adv-color-white !default;
$adv-tooltip-border-radius: $adv-border-radius-8 !default;
$adv-tooltip-box-shadow: $adv-box-shadow !default;
$adv-tooltip-max-width: 250px !default;
$adv-tooltip-border-width: $adv-border-width !default;
$adv-tooltip-border-style: $adv-tooltip-border-width $adv-border-style
  $adv-border-color !default;
$adv-tooltip-content-padding: $adv-spacing-12 !default;

$adv-tooltip-item-min-width: 112px;
$adv-tooltip-symbol-size: 10px;

.adv-tooltip {
  position: absolute;
  max-width: $adv-tooltip-max-width;
  padding: $adv-tooltip-content-padding;

  font-family: $adv-font-family;
  font-size: $adv-text-font-size-small;
  color: $adv-tooltip-color;

  background: $adv-tooltip-background-color;
  border: $adv-tooltip-border-style;
  border-radius: $adv-tooltip-border-radius;
  box-shadow: $adv-tooltip-box-shadow;
  z-index: $adv-z-over-everything;
  pointer-events: none; /* prevent jitter when tooltip gets in the way of the cursor during transitions */

  &--animated {
    transition: transform $chart-transition-time ease-out;
  }

  &__title {
    margin-bottom: $adv-spacing-8;
    font-weight: $adv-text-font-weight-bold;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    min-width: $adv-tooltip-item-min-width;
    margin-bottom: $adv-spacing-4;
  }

  &__symbol {
    margin-right: $adv-spacing-8;
    width: $adv-tooltip-symbol-size;
    height: $adv-tooltip-symbol-size;

    &--line {
      border-radius: 50%;
    }

    @each $color, $map in $chart-colors {
      &--color-#{$color} {
        background-color: nth($map, 1);
      }
    }
  }

  &__value {
    margin-left: auto;
    padding-left: $adv-spacing-16;
  }
}
