@use 'sass:math';

@use '~@/styles/variables' as *;

// Tooltip box -----------------------------------------------------------------
$adv-tooltip-title-color: $adv-color-neutral-100 !default;
$adv-tooltip-item-color: $adv-color-neutral-90 !default;
$adv-tooltip-background-color: $adv-color-white !default;
$adv-tooltip-border-radius: $adv-border-radius-8 !default;
$adv-tooltip-box-shadow: $adv-box-shadow !default;
$adv-tooltip-max-width: 250px !default;

$adv-tooltip-content-padding: $adv-spacing-12 !default;
$adv-tooltip-z-index: 500 !default;

$adv-tooltip-item-min-width: 112px;
$adv-tooltip-symbol-size: 10px;

.adv-tooltip {
  position: absolute;
  max-width: $adv-tooltip-max-width;
  padding: $adv-tooltip-content-padding;

  background: $adv-tooltip-background-color;
  border: $adv-border;
  border-radius: $adv-tooltip-border-radius;
  box-shadow: $adv-tooltip-box-shadow;
  z-index: $adv-tooltip-z-index;
  pointer-events: none; /* prevent jitter when tooltip gets in the way of the cursor during transitions */

  &--animated {
    transition: transform $adv-transition-time-long ease-out;
  }

  &__title {
    @include adv-typography-caption();

    color: $adv-tooltip-title-color;
    font-weight: $adv-font-weight-medium;
    margin-bottom: $adv-spacing-8;
  }

  &__items {
    @include adv-typography-caption();

    color: $adv-tooltip-item-color;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    min-width: $adv-tooltip-item-min-width;
    margin-bottom: $adv-spacing-4;
  }

  &__symbol {
    margin-right: $adv-spacing-8;
    width: $adv-tooltip-symbol-size;
    height: $adv-tooltip-symbol-size;

    &--line {
      border-radius: 50%;
    }
  }

  &__value {
    font-weight: $adv-font-weight-medium;
    margin-left: auto;
    padding-left: $adv-spacing-16;
  }
}
