@use '~@/styles/variables' as *;

$line-stroke-width: 2px;
$line-stroke-hover-width: 4px;

$ghost-line-stroke-width: 8px;

.adv-line {
  stroke-width: $line-stroke-width;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;

  transition: all $adv-transition-time-long ease;
  pointer-events: none;

  &--dashed {
    stroke-dasharray: 2%;
  }
}
