@use '~@/styles/variables' as *;
@use '~@/styles/mixins/base' as *;
@use '~@/styles/mixins/typography' as *;

$axis-label-color: $lume-color-grey-50;
$axis-label-hover-color: $lume-color-grey-70;

$axis-line-color: $lume-color-grey-20;

.axis {
  @include base;

  &__ghost {
    fill: transparent;
  }

  &__grid-line {
    fill: none;
    stroke: $axis-line-color;
    shape-rendering: crispEdges;
  }

  &__label {
    @include typography-axis;

    fill: $axis-label-color;
    cursor: default;
    transition: all $lume-transition-time-short ease-in-out;
  }

  &__tick {
    transition: opacity $lume-transition-time-short ease-in-out;

    &--hidden {
      opacity: 0;
    }

    &--hovered {
      opacity: 1;

      .axis__ghost {
        fill: $lume-chart-background-color;
      }

      .axis__label {
        fill: $axis-label-hover-color;
      }
    }
  }
}
