@use '~@/styles/variables' as *;

.adv-chart {
  &__header {
    display: flex;
    align-items: center;

    > .adv-chart-legend {
      margin-left: auto;
    }
  }

  &__tooltip-inline-text {
    dominant-baseline: middle;
    font-size: $adv-text-font-size-small;
    font-weight: $adv-text-font-weight-semi-bold;
  }
}
