@use '~@/styles/variables' as *;

$container-min-width: 320px;
$container-min-height: 224px;

.lume-chart-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  &--minimum {
    min-width: $container-min-width;
    min-height: $container-min-height;
  }

  &__svg {
    overflow: visible;
    background-color: $lume-chart-background-color;
    width: 100%;
    min-height: 0;
    flex: 1;

    &--transparent {
      background-color: transparent;
    }
  }

  &__group {
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: $lume-transition-time-long;
  }
}
