@use '~@/styles/variables' as *;

.adv-custom-tooltip {
  position: fixed;

  margin-top: -0.4em;
  margin-left: 0.2em;
  font-size: $adv-text-font-size-small;
  font-weight: $adv-text-font-weight-semi-bold;
  pointer-events: none;
  transition: all 0.2s ease-out;
}