@use '~@/styles/variables' as *;

.adv-custom-tooltip {
  position: fixed;

  margin-top: -0.5em;
  margin-left: 0.2em;
  font-family: $adv-font-family;
  pointer-events: none;
  transition: all 0.2s ease-out;
}