@use '~@/styles/variables' as *;

.adv-custom-tooltip {
  position: fixed;

  font-family: $adv-font-family;
  font-size: $adv-text-font-size-small;

  transform: translate($adv-spacing-8, -50%);

  transition: all $adv-transition-time-long ease-out;
  pointer-events: none;
}
