@use '~@/styles/_variables.scss' as *;

.adv-alluvial-group {
  &__path-group {
    fill: none;
  }

  &__path {
    stroke-opacity: 0.6;
    transition: stroke-opacity $adv-transition-time-long;

    animation: stroke-reset 2s linear forwards;

    &--out {
      stroke-opacity: 0.2;
    }
  }
}

@keyframes stroke-reset {
  to {
    stroke-dashoffset: 0;
  }
}
