.preview {
  display: flex;
  justify-content: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .card {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    padding: 1.5rem;

    background-color: white;
    border-radius: 1rem;
  }

  .version-tag {
    position: absolute;
    left: calc(100% + 0.5rem);
    top: 0;

    padding: 0.25rem;
    font-size: 0.75rem;
    color: #147d6a;
    white-space: nowrap;

    border: 1px solid #147d6a;
    border-radius: 0.25rem;
  }
}
