@use '~@/styles/_variables.scss' as *;

::v-deep .adv-alluvial-group {
  &__path-group {
    fill: none;

    &__link {
      stroke-opacity: 0.5;
      transition: stroke-opacity $adv-transition-time-long;

      &--out {
        stroke-opacity: 0.2;
      }

      @each $color, $map in $chart-colors {
        &--#{$color} {
          stroke: nth($map, 1);
        }
      }
    }
  }

  &__node {
    opacity: 1;
    transition: opacity $adv-transition-time-long;

    &--out {
      opacity: 0.5;
    }

    &__block {
      @each $color, $map in $chart-colors {
        &--#{$color} {
          $fill: nth($map, 1);
          fill: $fill;

          & + .node__label--color {
            fill: $fill;
          }
        }
      }
    }

    &__label {
      font-family: $adv-font-family;

      &--right {
        text-anchor: end;
      }

      &__title {
        font-size: $adv-text-font-size-small;
      }

      &__value {
        font-size: $adv-text-font-size-small;
        font-weight: $adv-text-font-weight-semi-bold;
      }
    }
  }
}
