@use '~@/styles/variables' as *;

.lume-alluvial-group {
  &__node {
    opacity: 1;
    transition: opacity $lume-transition-time-long;

    &--faded {
      opacity: 0.5;
    }
  }

  &__node-block {
    @each $color, $map in $lume-categorical-colors {
      &--#{$color} {
        $fill: nth($map, 1);
        fill: $fill;

        & + .lume-alluvial-group__node-text--color {
          fill: $fill;
        }
      }
    }

    @each $color, $map in $lume-legacy-colors {
      &--#{$color} {
        $fill: nth($map, 1);
        fill: $fill;

        & + .lume-alluvial-group__node-text--color {
          fill: $fill;
        }
      }
    }
  }

  &__node-text {
    &--right {
      text-anchor: end;
    }
  }

  &__node-value {
    font-weight: $lume-font-weight-medium;
  }
}
