// Global

$lume-color-white: #fff !default;
$lume-color-black: #00112c !default;

$lume-color-grey-transparent: rgba(210, 218, 225, 0.7) !default;

$lume-color-grey-10: #f3f6f9 !default;
$lume-color-grey-20: #dce0e5 !default;
$lume-color-grey-30: #a5afbd !default;
$lume-color-grey-50: #69778c !default;
$lume-color-grey-70: #20304c !default;

$lume-color-blue-10: #e5efff !default;
$lume-color-blue-20: #cce0ff !default;

$lume-color-red-20: #facccc !default;
$lume-color-red-40: #e50000 !default;

$lume-color-orange-10: #fff4e5 !default;

$lume-color-green-10: #e6f8ed !default;

$lume-color-teal-10: #eef9f9 !default;
$lume-color-teal-40: #5bc6c8 !default;
$lume-color-teal-70: #204546 !default;

$lume-color-quiet: $lume-color-grey-30 !default;

// Data viz

$lume-color-data-viz-yellow: #ffda00 !default;
$lume-color-data-viz-yellow-darker: #cbb009 !default;

$lume-color-data-viz-green: #99e487 !default;
$lume-color-data-viz-green-darker: #79b874 !default;

$lume-color-data-viz-turquoise: #04c9ca !default;
$lume-color-data-viz-turquoise-darker: #03a3a9 !default;

$lume-color-data-viz-blue: #025f89 !default;
$lume-color-data-viz-blue-darker: #014e76 !default;

$lume-color-data-viz-navy: #00112c !default;
$lume-color-data-viz-navy-darker: #00112c !default;

$lume-color-data-viz-grey: #90a2bd !default;
$lume-color-data-viz-grey-darker: #183057 !default;

$lume-color-data-viz-orange: #ff9501 !default;
$lume-color-data-viz-orange-darker: #b36900 !default;

// Chart

$chart-colors: (
  '01': (
    $lume-color-data-viz-yellow,
    $lume-color-data-viz-yellow-darker,
    $lume-color-orange-10,
  ),
  '02': (
    $lume-color-data-viz-green,
    $lume-color-data-viz-green-darker,
    $lume-color-green-10,
  ),
  '03': (
    $lume-color-data-viz-turquoise,
    $lume-color-data-viz-turquoise-darker,
    $lume-color-teal-10,
  ),
  '04': (
    $lume-color-data-viz-blue,
    $lume-color-data-viz-blue-darker,
    $lume-color-blue-10,
  ),
  '05': (
    $lume-color-data-viz-navy,
    $lume-color-data-viz-navy-darker,
    $lume-color-blue-20,
  ),
  '06': (
    $lume-color-data-viz-grey,
    $lume-color-data-viz-grey-darker,
    $lume-color-grey-10,
  ),
  '07': (
    $lume-color-data-viz-orange,
    $lume-color-data-viz-orange-darker,
    $lume-color-orange-10,
  ),
  '08': (
    $lume-color-teal-40,
    $lume-color-teal-70,
    $lume-color-teal-10,
  ),
  '09': (
    $lume-color-red-40,
    $lume-color-red-20,
    $lume-color-red-20,
  ),
);

$chart-background-color: $lume-color-white;
