// Font family

$lume-font-family: 'Inter', sans-serif !default;

// Weight

$lume-text-font-weight-normal: 400 !default;
$lume-text-font-weight-medium: 500 !default;
$lume-text-font-weight-semi-bold: 600 !default;
$lume-text-font-weight-bold: 700 !default;

// Size

$lume-text-font-size-small: 13px !default;
$lume-text-font-size-medium: 14px !default;
$lume-text-font-size-big: 24px !default;
