// Inter font face

/* inter-regular  */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('~@/assets/fonts/inter-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('~@/assets/fonts/inter-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500  */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('~@/assets/fonts/inter-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('~@/assets/fonts/inter-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600  */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('~@/assets/fonts/inter-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('~@/assets/fonts/inter-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700  */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('~@/assets/fonts/inter-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('~@/assets/fonts/inter-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$adv-font-family: 'Inter', sans-serif;

// Size

$adv-font-size-xs: 10px !default;
$adv-font-size-sm: 12px !default;
$adv-font-size-md: 14px !default;
$adv-font-size-lg: 20px !default;

// Line height

$adv-line-height-xs: 16px !default;
$adv-line-height-sm: 16px !default;
$adv-line-height-md: 22px !default;
$adv-line-height-lg: 28px !default;

// Weight

$adv-font-weight-regular: 400 !default;
$adv-font-weight-medium: 500 !default;

@mixin adv-typography-base {
  box-sizing: border-box;
  font-family: $adv-font-family;
}

// Mixins

@mixin adv-typography-display {
  @include adv-typography-base();

  font-size: $adv-font-size-lg;
  font-weight: $adv-font-weight-medium;
  line-height: $adv-line-height-lg;
}

@mixin adv-typography-body {
  @include adv-typography-base();

  font-size: $adv-font-size-md;
  font-weight: $adv-font-weight-medium;
  line-height: $adv-line-height-md;
}

@mixin adv-typography-caption() {
  @include adv-typography-base();

  font-size: $adv-font-size-sm;
  font-weight: $adv-font-weight-regular;
  line-height: $adv-line-height-sm;
}

@mixin adv-typography-caption-small {
  @include adv-typography-base();

  font-size: $adv-font-size-xs;
  font-weight: $adv-font-weight-medium;
  line-height: $adv-line-height-xs;
}
