@use '~@/styles/variables' as *;
@use '~@/styles/mixins/base' as *;
@use '~@/styles/mixins/typography' as *;

.lume-chart-legend {
  @include base;

  display: flex;
  justify-items: end;

  &__item {
    @include typography-body;

    display: flex;
    align-items: center;

    padding: 0.25rem 0.5rem;
    gap: 0.25rem;

    color: $lume-color-grey-60;

    cursor: default;
  }

  &__circle {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;
  }
}
