@use '~@/styles/variables' as *;

.adv-chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__svg {
    overflow: visible;
    background-color: $chart-background-color;
    width: 100%;
    min-height: 0;
    flex: 1;

    &--transparent {
      background-color: transparent;
    }
  }

  &__group {
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: $chart-transition-time;
  }
}
