@use '~@/styles/variables' as *;
@use 'tooltip.variables' as *;

@mixin adv-tooltip {
  position: absolute;
  max-width: $adv-tooltip-max-width;
  padding: $adv-tooltip-content-padding;

  font-family: $adv-font-family;
  font-size: $adv-text-font-size-small;
  color: $adv-tooltip-color;

  background: $adv-tooltip-background-color;
  border: $adv-tooltip-border-style;
  border-radius: $adv-tooltip-border-radius;
  box-shadow: $adv-tooltip-box-shadow;
  z-index: $adv-z-over-everything;
  pointer-events: none; /* prevent jitter when tooltip gets in the way of the cursor during transitions */
}

@mixin adv-tooltip--animated {
  transition: transform $chart-transition-time ease-out;
}

@mixin adv-tooltip__title {
  margin-bottom: $adv-spacing-8;
  font-weight: $adv-text-font-weight-bold;
}

@mixin adv-tooltip__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin adv-tooltip__item {
  display: flex;
  align-items: center;
  min-width: $adv-tooltip-item-min-width;
  margin-bottom: $adv-spacing-4;
}

@mixin adv-tooltip__symbol {
  margin-right: $adv-spacing-8;
  width: $adv-tooltip-symbol-size;
  height: $adv-tooltip-symbol-size;
}

@mixin adv-tooltip__symbol--line {
  border-radius: 50%;
}

@mixin adv-tooltip__value {
  margin-left: auto;
  padding-left: $adv-spacing-16;
}
