@use 'sass:math';

@use "~@/styles/variables" as *;

// Tooltip box -----------------------------------------------------------------
$adv-tooltip-color: $adv-color-grey-70 !default;
$adv-tooltip-background-color: $adv-color-white !default;
$adv-tooltip-border-radius: $adv-border-radius-8 !default;
$adv-tooltip-box-shadow: $adv-box-shadow !default;
$adv-tooltip-max-width: 250px !default;
$adv-tooltip-border-width: $adv-border-width !default;
$adv-tooltip-border-style: $adv-tooltip-border-width $adv-border-style
  $adv-border-color !default;
$adv-tooltip-content-padding: $adv-spacing-12 !default;

$adv-tooltip-item-min-width: 112px;
$adv-tooltip-symbol-size: 10px;
