@use '~@/styles/variables' as *;

.adv-horizontal-tooltip {
  position: fixed;

  font-family: $adv-font-family;
  font-size: $adv-text-font-size-small;

  transform: translate($adv-spacing-8, -50%);

  pointer-events: none;
  animation: fadeIn $adv-transition-time-long ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
