@use '~@/styles/variables' as *;

.adv-horizontal-tooltip {
  @include adv-typography-caption();

  position: fixed;

  transform: translate($adv-spacing-8, -50%);

  pointer-events: none;
  animation: fadeIn $adv-transition-time-long ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
